@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Space+Grotesk&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}

.menu{
    border: 2.5px solid #adff2f;
    padding:25px;
    border-top: 10px;
    display: flex;
    flex-direction:row;
    gap:30px;
    background-color: black;
    justify-content: center;
    gap: 150px;
}


a[href="#"]{
    color: greenyellow;
}

header, footer{
    padding: 20px 0;
    margin:0;
    border-bottom: 100px;
    border: 2.5px solid greenyellow;
    background-color: black;
    color: whitesmoke;
    background-image: url(WhatsApp\ Image\ 2026-02-10\ at\ 16.05.32.jpeg);
    background-size: cover ;
    background-position: center ;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
main{
    background-color: black;
    color: whitesmoke;
    gap: 70px;
    padding: 50px 20px;
}

.game-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: flex-start;
    padding: 50px;
}

.game-card img{
    max-width: 100%;
    height:auto;
    display: block;
    margin-bottom: 10px;
    width: 500px;
    image-rendering: optimizeQuality;
    border: #adff2f solid 2px;
    border-radius: 15px;
}

.game-card p{
    border: #adff2f 2px solid;
    padding: 10px;
    border-radius: 15px;
}

.game-card summary{
    color: #adff2f;
}
