@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Space+Grotesk&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}

header{
    padding: 50px;
    margin:0;
    border: 5px solid greenyellow;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
}


